.footer__top{
	background: $bgcolor1;
	padding: 30px 0;

	.general-conteiner{
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
}
.footer__logo{
	width: 70px;

	img{
		width: 100%;
		display: block;
	}
}

.footer__contacts{
	a{
		display: flex;
		align-items: center;
		margin: 5px 0;

		span{
			width: 16px;
			display: block;

			svg{
				width: 100%;
				display: block;
			}
		}

		p{
			font-size: 16px;
			padding-left: 10px;
			color: $textcolor;
		}
	}
}
.footer__bottom{
	padding: 14px 0;

	.general-conteiner{
		display: flex;
		justify-content: space-between;
		align-items: center;

		a{
			font-size: 16px;
			color: $textcolor;
		}
	}
}
@media only screen and (max-width: 1170px){
footer .header__nav{
	display: none;
}
.footer__top{
	padding: 15px 0;
}
}
@media only screen and (max-width: 425px){
.footer__top .general-conteiner{
	flex-wrap: wrap;
	justify-content: center;
}
footer .footer__contacts{
	width: 100%;
	padding-top: 15px;

	a{
		justify-content: center;
		width: 100%;
	}
}
.footer__bottom .general-conteiner{
	flex-wrap: wrap;
	justify-content: center;

	p{
		width: 100%;
		text-align: center;
		margin-bottom: 10px;
	}
}
}