.partners{
	padding: 0;
}
.partners__conteiner{
	padding-top: 30px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.partners__claster{
	width: calc(50% - 34px);
	background: $bgcolor1;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding: 20px;
	padding-top: 40px;
}
.partners__title{
	width: 100%;
	text-align: center;
	font-size: 28px;
	margin-bottom: 38px;
	font-weight: 600;
}
.partners__box{
	display: block;
	width: calc(50% - 50px);
	margin: 0 25px;
	margin-bottom: 20px;
	border: 1px solid #EEF2F7;
	box-sizing: border-box;
	border-radius: 3px;
	background: #fff;
	padding: 14px;
	transition: all ease 0.3s;


	h5{
		text-align: center;
		font-weight: normal;
		font-size: 16px;
		margin-top: 10px;
		color: $textcolor;
		transition: all ease 0.3s;
	}

	&:hover{
		box-shadow: 0px 10px 30px rgba(46, 107, 146, 0.12);
		transition: all ease 0.3s;

		h5{
			color: $activcolor;
			transition: all ease 0.3s;
		}
	}
}
.partners__icon{
	width: 40px;
	display: block;
	margin: 0 auto;

	img{
		width: 100%;
		display: block;
	}
}
@media only screen and (max-width: 1270px){
	.partners{
		padding: 30px 0;
	}
	.partners__conteiner{
		padding-top: 30px;
	}
}
@media only screen and (max-width: 1000px){
.partners__claster {
    width: calc(50% - 10px);
}
.partners__title{
	margin-bottom: 10px;
	font-size: 24px;
}
.partners__box {
    display: block;
    width: calc(50% - 20px);
    margin: 10px;
}
.partners__claster{
	padding-top: 20px;
}
}
@media only screen and (max-width: 800px){
.partners{
	margin: 30px 0;
	background: $bgcolor1;
}
.partners__conteiner{
	flex-wrap: wrap;
}
.partners__claster{
	width: 100%;
}
}
@media only screen and (max-width: 600px){
.partners__claster{
	padding-left: 0;
	padding-right: 0;
}
.partners__box{
	box-shadow: 0px 4px 12px rgba(59, 59, 72, 0.12);
}
.partners__conteiner{
	padding-top: 10px;
}
.partners__box h5{
	font-size: 14px;
}
}