.ads-buy-conteiner{
	width: 580px;

}
.ads-buy-conteiner__box{
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-left: 30px;
	border: solid 1px #EEF2F7;
	margin-bottom: 10px;
	background: #fff;
	transition: all ease 0.3s;
	border-radius: 3px;

	&:hover{
		box-shadow: 0px 6px 16px rgba(59, 59, 72, 0.16);
		transition: all ease 0.3s;
	}
}
.ads-buy-conteiner__element-box{
	width: 160px;
	font-size: 16px;
}
.ads-buy-conteiner__claster{
	padding-top: 10px;
}
.user-main-info_buy-ads{
	align-items: flex-start;
	padding-right: 40px;
}
.ads-byu-main-sec{
	padding-bottom: 40px;
}
.ads-buy-info-sec{
	padding-bottom: 80px;

	.general-conteiner{
		display: flex;
		align-items: flex-start;
	}
}
.ads-buy-info-sec__text{
	width: 580px;
	margin-right: 70px;

	p{
		font-size: 16px;
		line-height: 1.5;
	}
	h4{
		font-size: 16px;
		font-weight: 500;
		margin-bottom: 20px;
	}
}
.baner-vip{
	width: 467px;
	background: #1565C0;
	box-shadow: 0px 10px 40px rgba(8, 36, 69, 0.2);
	border-radius: 3px;
	padding: 30px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.baner-vip__icon{
	width: 115px;
	img{
		width: 100%;
		display: block;
	}
}
.baner-vip__text{
	width: calc(100% - 115px);
	padding-right: 15px;
}
.baner-vip__title{
	color: #fff;
	font-size: 28px;
	font-weight: 600;
}
.baner-vip__description{
	border-top: 1px solid #fff;
	border-bottom: 1px solid #fff;
	padding: 10px 0;
	margin: 10px 0;
	padding-right: 10px;
	color: #fff;
	font-size: 16px;
	line-height: 1.5;
}
.baner-vip__subtitle{
	color: #fff;
	font-size: 20px;
	font-weight: 500;
}