.checkbox-direction-redact{
	padding-right: 40px;
	padding-left: 14px;
}
.direction-auto-store{
	.acordeon-conteiner__box__nam-element{
		display: flex;
		justify-content: center;
		align-items: center;
		top: 21px;	
	}
}