*{
	margin:0;
	padding:0;
	box-sizing:border-box;
}
a{
	text-decoration:none;

	&:hover{
		text-decoration:none;
	}
}
li{
	list-style-type: none;
}
button{
	cursor: pointer;
	outline:0 none !important;
	
}

.slick-slide img:focus{
	outline: none !important ;
}
.slick-slide:focus{
	outline: none !important;
}
.towar-box-sec5 a{
	outline: none !important;
}
.slick-slide{
	outline: none !important;
}
.slick-slide p{
	outline: none !important;
}
.slick-slide a{
	outline: none !important;
}
.slick-slide div{
	outline: none !important;
}
.slick-track {
	outline: none !important;
}
input{
	outline:0 none !important;
	-webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    font-family: 'Jost', sans-serif;
}
button{
	font-family: 'Jost', sans-serif;
}

select{
	cursor: pointer;
	outline:0 none !important;
	font-family: 'Jost', sans-serif;
}
textarea{
	outline:0 none !important;
	font-family: 'Jost', sans-serif;
}
body{
	background: #fff;
	font-family: 'Jost', sans-serif;
}
p{
	font-size: 16px;
	color: #05182E;
	margin: 0;
}
h1, h2, h3, h4, h5, h6{
	font-family: 'Jost', sans-serif;
}
.content{
	overflow: hidden;
}
.general-conteiner{
	width: 1280px;
	margin: 0 auto;
}
.general-title{
	font-size: 40px;
	font-weight: 600;
	margin-bottom: 10px;
}
.general-subtitle{
	padding: 16px 0;
	line-height: 1.5;
	padding-right: 650px;
	width: 100%;
	border-top: 1px solid #EEF2F7;
	border-bottom: 1px solid #EEF2F7;
}

::-webkit-scrollbar-button {
background-image:url('');
background-repeat:no-repeat;
width:5px;
height:0px
}

::-webkit-scrollbar-track {
background-color:#ecedee
}

::-webkit-scrollbar-thumb {
-webkit-border-radius: 0px;
border-radius: 0px;
background-color:#4e4e4e;
}

::-webkit-scrollbar-thumb:hover{
background-color:#4e4e4e;
}

::-webkit-resizer{
background-image:url('');
background-repeat:no-repeat;
width:4px;
height:0px
}

::-webkit-scrollbar{
width: 4px;
}

@media only screen and (max-width: 600px){
.general-title{
	font-size: 28px;
	text-align: center;
}
p{
	font-size: 14px;
}
}

